a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    border: 10px black;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h3{
    color: white;
 
}

body{
    background-color: bisque;
}

.conteiner{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.esquerda{
    padding: 20px;
    width: 350px;
    height: 400px;
    background-color: rgb(106, 146, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top-left-radius: 10px;
    border: solid 5px white;
    border-right: 0px;

}

.foto{
    border-radius: 100px;
    width: 180px;
    height: 180px;
    border: solid 3px white;
}



.direita{
    padding: 20px;
    width: 700px;
    height: 400px;
    background-color: rgb(214, 80, 147);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top-right-radius: 10px;
    border: solid 5px white;
    border-left: 0px;
}